In [2]:
import pandas as pd

In [25]:
df=pd.read_parquet('~/tmp/test_parquet')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 320 entries, 0 to 319
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   rnum           320 non-null    object
 1   rank           320 non-null    object
 2   rankInten      320 non-null    object
 3   rankOldAndNew  320 non-null    object
 4   movieCd        320 non-null    object
 5   movieNm        320 non-null    object
 6   openDt         320 non-null    object
 7   salesAmt       320 non-null    object
 8   salesShare     320 non-null    object
 9   salesInten     320 non-null    object
 10  salesChange    320 non-null    object
 11  salesAcc       320 non-null    object
 12  audiCnt        320 non-null    object
 13  audiInten      320 non-null    object
 14  audiChange     320 non-null    object
 15  audiAcc        320 non-null    object
 16  scrnCnt        320 non-null    object
 17  showCnt        320 non-null    object
 18  load_dt        320 non-null    category
 19  multiMovieYn   180 non-null    category
 20  repNationCd    140 non-null    category
dtypes: category(3), object(18)
memory usage: 46.6+ KB

In [26]:
cols=['rnum','rank','rankInten','salesInten']
df=df.drop(axis=1, columns=cols)
print(type(df))
print(type(df))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

In [7]:
multiMovieYn, repNationCd

NameError: name 'multiMovieYn' is not defined

In [13]:
df['multiMovieYn'].isnull().sum()

np.int64(865)

In [14]:
df['multiMovieYn'] = df['multiMovieYn'].astype('object')
df['multiMovieYn'] = df['multiMovieYn'].fillna('unknown')
df['multiMovieYn'].value_counts()

multiMovieYn
unknown    865
Y          100
N           80
Name: count, dtype: int64

In [16]:
df['repNationCd'] = df['repNationCd'].astype('object')
df['repNationCd'] = df['repNationCd'].fillna('unknown')
df['repNationCd'].value_counts()

repNationCd
unknown    905
F           70
K           70
Name: count, dtype: int64

In [42]:
import pandas as pd

def merge(load_dt="20240724"):
    read_df = pd.read_parquet('~/tmp/test_parquet')
    cols = ['movieCd', #영화의 대표코드를 출력합니다.
       'movieNm', #영화명(국문)을 출력합니다.
       #'openDt', #영화의 개봉일을 출력합니다.
       #'audiCnt', #해당일의 관객수를 출력합니다.
       'load_dt', # 입수일자
       'multiMovieYn', #다양성영화 유무
       'repNationCd', #한국외국영화 유무
       ]
    df = read_df[cols]
    # 울버린 만조회 지우고 ...
    dw = df[(df['movieCd'] == '20235974') & (df['load_dt'] == int(load_dt))].copy() #날짜조건 load_dt 인자 받기 print(dw)

    
    # 카테고리 타입 -> Object
    dw['load_dt'] = dw['load_dt'].astype('object')
    dw['multiMovieYn'] = dw['multiMovieYn'].astype('object')
    dw['repNationCd'] = dw['repNationCd'].astype('object')

    # df[' x '].fillna(df[' x '].mode()[0],inplace=T   최빈값으로 채워넣고 그값으로 변경 
    dw['multiMovieYn'].fillna(dw['multiMovieYn'].mode()[0],inplace=True)
    dw['repNationCd'].fillna( dw['repNationCd'].mode()[0],inplace=True)
    print(dw)

    # 중복행제거
    df_unique = dw.drop_duplicates()
    print(df_unique)

merge()

     movieCd    movieNm   load_dt multiMovieYn repNationCd
4   20235974  인사이드 아웃 2  20240724            N           F
14  20235974  인사이드 아웃 2  20240724            N           F
53  20235974  인사이드 아웃 2  20240724            N           F
    movieCd    movieNm   load_dt multiMovieYn repNationCd
4  20235974  인사이드 아웃 2  20240724            N           F

/tmp/ipykernel_1459527/4230395816.py:24: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dw['multiMovieYn'].fillna(dw['multiMovieYn'].mode()[0],inplace=True)
/tmp/ipykernel_1459527/4230395816.py:25: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dw['repNationCd'].fillna( dw['repNationCd'].mode()[0],inplace=True)

In [40]:
def merge(load_dt=20240724):
    # Parquet 파일을 읽어옴
    read_df = pd.read_parquet("~/tmp/test_parquet")
    
    # 필요한 컬럼만 선택
    cols = [
        'movieCd', # 영화의 대표코드를 출력합니다.
        'movieNm', # 영화명(국문)을 출력합니다.
        'load_dt', # 입수일자
        'multiMovieYn', # 다양성영화 유무
        'repNationCd' # 한국외국영화 유무
    ]
    df = read_df[cols]

    # 특정 영화 조회 (날짜조건 load_dt 인자 받기)
    df_where = df[(df['movieCd'] == "20247781") & (df['load_dt'] == load_dt)].copy()

    df_where['load_dt'] = df_where['load_dt'].astype('object')
    df_where['multiMovieYn'] = df_where['multiMovieYn'].astype('object')
    df_where['repNationCd'] = df_where['repNationCd'].astype('object')

    # multiMovieYn이 null이 아닌 데이터와 repNationCd가 null이 아닌 데이터를 구분
    df_multiMovieYn_notnull = df_where[df_where['multiMovieYn'].notnull()].drop(columns='repNationCd').reset_index(drop=True)
    df_repNationCd_notnull = df_where[df_where['repNationCd'].notnull()].drop(columns='multiMovieYn').reset_index(drop=True)

    # 필요한 열만 유지하면서 병합
    merged_df = pd.merge(df_multiMovieYn_notnull, df_repNationCd_notnull[['movieCd', 'repNationCd']], on=['movieCd'], how='left')

    return merged_df

merge()

    movieCd   movieNm   load_dt multiMovieYn repNationCd
0  20247781  데드풀과 울버린  20240724            N           F
1  20247781  데드풀과 울버린  20240724            N           F